#contenedor1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/familia.jpg);
    background-size: cover;
    background-position-y: -250px;
    padding: 10%;
}

#frase1 {
    color: white;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    text-shadow: 1px 1px 5px black;
}

#contenedor2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7FB3D5;
    padding: 10%;
}

#frase2 {
    color: white;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
}

#contenedor3 {
    display: flex;
    flex-direction: column;
    align-items: center;
<<<<<<< HEAD:harry_somos.css
    background-image: url(instalacion.jpg);
    /* background-size: cover; */
    /* background-position-y: -250px; */
    background-position: center;
=======
    background-image: url(../img/instalacion.jpg);
    background-size: cover;
    background-position-y: -250px;
>>>>>>> 0f0b932fc1f1ee934763387d72c1dc66a2138238:css/style_somos.css
    padding: 10%;
}

#frase3 {
    color: white;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    text-shadow: 1px 1px 5px black;
}