/* Para que se extienda todo el contenido en toda la pantalla */

body {
    margin: 0px;
}

/* Estilos para el encabezado (Logo, eslogan, menú) */

header {
    display: grid;
    background-color: white;
    box-shadow: 0px 0px 25px rgb(1, 1, 1, 0.5);
    padding-top: 10px;
    padding-bottom: 25px;
    grid-template-columns: 1fr 4fr;
    position: fixed;
}

a{
    text-decoration: none;
}

/* Estilos para logo y eslogan */

#principal {
    width: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#eslogan {
    margin: 0px;
    font-style: italic;
    color: #003088;
}

/* Estilos para el menú */

#menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    padding-right: 50px;
}

.menu-principal {
    font-size: 20px;
}

/* Estilos para el contenido general */

#general {
    background-color: #EEEEEE;
    padding-top: 150px;
}

/* #7FB3D5 */

/* aside {
    background-color: #7FB3D5;
    padding: 25px;
    text-align: center;
}

.entrada {
    border: none;
    background: transparent;
    border-bottom: 1px solid black;
    outline: none;
    margin-bottom: 10px;
    padding-bottom: 15px;
}

.entrada::placeholder {
    color: black;
    font-size: 16px;
    font-family: 'Times New Roman';
}

#mensaje {
    border: none;
    background: transparent;
    border-bottom: 1px solid black;
    outline: none;
    width: 100%;
    height: 75px;
}

#mensaje::placeholder {
    color: black;
    font-size: 16px;
    font-family: 'Times New Roman';
}

#boton {
    margin-top: 25px;
    background-color: #005099;
    color: white;
    border: none;
    padding: 5px;
    width: 100%;
    font-weight: bold;
}

#fondo {
    width: 100%;
}

/* Estilos para el pie de pagina */

footer {
    display: flex;
    background-color: #5a9ecc;
    justify-content: center;
    color: white;
    font-weight: bold;
}