/* Estilos del contenedor 1 */

:root {
    --colorBotobHover: #1f7dbb;
}

#contenedor1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/oficina.jpg);
    background-position-y: -250px;
    padding: 10%;
}

#frase1 {
    color: white;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    text-shadow: 1px 1px 5px black;
}

#boton1 {
    width: 20%;
    color: white;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 50px;
    padding: 20px 30px;
}

#boton1:hover{
    background-color: #5a9ecc;
    border: 3px solid var(--colorBotobHover);
}

/* Estilos del contenedor 2 */

#contenedor2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EEEEEE;
    padding: 10%;
}

#frase2 {
    color: #005099;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
}

#boton2 {
    width: 20%;
    color: black;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 50px;
    padding: 20px 30px;
}

#boton2:hover{
    color: white;
    background-color: #5a9ecc;
    border: 3px solid var(--colorBotobHover);
}

/* Estilos del contenedor 3 */

#contenedor3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/departamento.jpg);
    background-position-y: -250px;
    padding: 10%;
}

#frase3 {
    color: white;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    text-shadow: 1px 1px 5px black;
}

#minicatalogo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 50px;
    column-gap: 25px;
}

.elemento {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 2px 2px 10px rgb(1, 1, 1, 0.5);
    height: 100%;
    padding: 10px;
}

.paquete {
    width: 60%;
}

.titulo-paquete {
    font-family: fantasy;
}

#boton3 {
    width: 20%;
    color: white;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 50px;
    padding: 20px 30px;
}

#boton3:hover{
    background-color: #5a9ecc;
    border: 3px solid var(--colorBotobHover);
}

/* Estilos del contenedor 4 */

#contenedor4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7FB3D5;
    padding: 10%;
}

#frase4 {
    color: white;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
}

#boton4 {
    width: 20%;
    color: white;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 50px;
    padding: 20px 30px;
}

#boton4:hover{
    color: white;
    background-color: #5a9ecc;
    border: 3px solid var(--colorBotobHover);
}