body {
    margin: 0px;
}

header {
    display: flex;
    height: 125px;
    background-color: #EEEEEE;
    padding: 10px;
}

#principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#eslogan {
    margin: 0px;
    font-style: italic;
    color: #003088;
}